body {
	background-color: #333333;
	color: #F7F7F7;
    background-image: url("/../img/te.png");
	width: 100%;
	height: auto;
    background-attachment: fixed;
   	background-repeat: no-repeat;
    background-position: right bottom;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

.accent {
  background-color: rgba(25,25,25,0.8);
  -webkit-box-shadow: inset 0px 0px 25px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 0px 25px -2px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 25px -2px rgba(0,0,0,0.25);
}

#accent-photo {
	background-image: url("/../img/accent.png");
	background-position: top;
	background-color: rgba(25,25,25,1);
}

#accent-text {
	background-color: rgba(5,5,5,0.8);
}

#accent-buttons {
	background-color: rgba(25,25,25,0.8);
	-webkit-box-shadow: inset 0px 0px 45px -2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 0px 45px -2px rgba(0,0,0,0.25);
	box-shadow: inset 0px 0px 45px -2px rgba(0,0,0,0.25);
}

#accent-row {
  color: #FFEB19;
  background-color: rgba(25,25,25,0.8);
  -webkit-box-shadow: inset 0px 0px 45px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 0px 45px -2px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 45px -2px rgba(0,0,0,0.25);
}

#news-row {
  color: #F7F7F7;
  background-color: rgba(25,25,25,0.8);
  -webkit-box-shadow: inset 0px 0px 45px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 0px 45px -2px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 45px -2px rgba(0,0,0,0.25);
}

.info-panel {
	background-color:  rgba(25,25,25,0.8);
	-webkit-box-shadow: inset 0px 0px 44px -25px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 0px 44px -25px rgba(0,0,0,0.25);
	box-shadow: inset 0px 0px 44px -25px rgba(0,0,0,0.25);
}

.info-panel .panel-footer {
  color: #000;
  background-color: #FFEB19;    
}

.info-panel .panel-footer-xs {
  color: #000;
  background-color: #FFEB19;    
}

.menu {
	background: #0c0c0c;
	color: #303032;
}

.body {
	background: #333333;
	color: #999999;
}

.sidebar-nav li a {
    color: #999999;
}

.sidebar-nav li a:hover {
    color: #000;
    background: #707072;
}

.sidebar-nav > .sidebar-brand a {
	background: none;
}

.sidebar-nav > .sidebar-brand a:hover {
	background: none;
}

.nav-active {
	font-weight: bold;
  background: transparent;
}

.nav-active a {
  color: #FFEB19 !important;
}

.btn:hover,
.btn:focus {
    background: #FFEB19;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.dropdown-menu {
  background: #FFEB19;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #000;
  white-space: normal;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #FFEB19;
  text-decoration: none;
  background-color: #000000;
  background-image: -moz-linear-gradient(top, #000000, #020202);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#020202));
  background-image: -webkit-linear-gradient(top, #000000, #020202);
  background-image: -o-linear-gradient(top, #000000, #020202);
  background-image: linear-gradient(to bottom, #000000, #020202);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#020202', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #FFEB19;
  text-decoration: none;
  background-color: #000000;
  background-image: -moz-linear-gradient(top, #000000, #020202);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#020202));
  background-image: -webkit-linear-gradient(top, #000000, #020202);
  background-image: -o-linear-gradient(top, #000000, #020202);
  background-image: linear-gradient(to bottom, #000000, #020202);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#020202', GradientType=0);
}

.btn-yellow {
  color: #000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #FAE513;
  *background-color: #F6E213;
  background-image: -moz-linear-gradient(top, #FAE513, #F6E213);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAE513), to(#F6E213));
  background-image: -webkit-linear-gradient(top, #FAE513, #F6E213);
  background-image: -o-linear-gradient(top, #FAE513, #F6E213);
  background-image: linear-gradient(to bottom, #FAE513, #F6E213);
  background-repeat: repeat-x;
  border-color: #000000 #000000 #010101;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAE513cc', endColorstr='#F6E213cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.btn-yellow.disabled,
.btn-yellow[disabled] {
  color: #030303;
  background-color: #F6E213;
  *background-color: #060401;
}

.btn-yellow:active,
.btn-yellow.active {
  background-color: #FAE513 \9;
}

#sidebar-wrapper {
    background: rgba(5,5,5,0.7);
}

.black {
	color: #020202;
}

.form-control.main:focus {
  border-color: #fad00c;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 208, 12, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 208, 12, .6);
}

.btn3d.btn-process {
  box-shadow:0 0 0 1px #89bff6 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
}

.has-error .form-control {
  background: rgb(255,200,200);
}

.has-success .form-control {
  background: rgb(200,255,200);
}

.panel {
  background-color: rgba(25,25,25,0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.info-panel a {
  color: #020202;
  text-decoration: none;
  border: none;
}

.panel-accent {
  background-color: rgba(25,25,25,0.8);
}
.panel-accent a {
  color: #FFEB19;
  text-decoration: none;
  border: none;
}
.panel-accent > .panel-heading {
  color: #FFEB19;
  background: #151515;
  border: none;
}
.panel-accent > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-accent > .panel-heading .badge {
  color: #FFEB19;
  background-color: #151515;
}
.panel-accent > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}

.table-hover > tbody > tr:hover {
  color: #020202;
  background-color: rgba(255,235,25,0.8);
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #FFEB19;
}

.table > thead > tr > th {
  border-bottom: 2px solid #FFEB19;
}

#accent-row a, 
#accent-row a:hover, 
#accent-row a:focus {
  color: #FFEB19;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: 1px solid #FFEB19;
  }
}