body {
	margin: 0 px;
	padding: 0 px;
}

.menu {
	margin: 0 px;
	padding: 0 px;
	padding-right: 10 px;
	min-height: auto;
	height: 100 %;
}

.navbar {
	min-width: auto;
}

.fill_h {
  min-width: 100%;
}

.dropdown {
	margin: auto;
	width: 80 %;
	float: left;
}

.dropdown-menu {
	min-width: auto;
	width: 100 %;
}

.rounded-up-left {
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
}

.rounded-up-right {
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
}

.rounded-down-left {
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
}

.rounded-down-right {
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
}

.rounded-up {
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.rounded-down {
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.rounded-left {
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.rounded-right {
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.rounded {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.panel-group .panel-accent {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: 0px -15px;
}

.panel-group .panel-accent .panel-heading{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.panel-group .panel-group .panel-body {
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.panel-group .panel-accent .panel-footer {
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	font-size: 1.2em;
}

#accent-photo {
	min-width: auto;
	min-height: 200px;
   	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#accent-text {
	text-transform: uppercase;
	padding: 24px 12px 24px 24px;
	min-height: 200px;
	height: 100%;
	min-width: auto;
	font-size: 1.5em;
}

#accent-buttons {
	padding: 48px 0px;
	min-width: auto;
	min-height: 100%;
	font-size: 2em;
}

#accent-row {
	padding: 12px 24px;
	min-width: auto;
	min-height: 100%;
	font-size: 1.5em;
	text-align: center;
	font-weight: 700;
}

#news-row {
	padding: 12px 24px;
	min-width: auto;
	min-height: 100%;
	font-size: 1.5em;
	text-align: center;
}

.capital {
	text-transform: uppercase;
}

.info-panel {
	font-size: 1.4em;
	height: 160px;
	padding: 12px 12px;
	overflow: hidden;
}

.info-panel .panel-text {
	display: inline-block;
	padding-top: 10px;
}

.info-panel .panel-footer {
	border: none;
    display:none;
    min-width: 100%;
    height: 60px;
    margin: auto;
    font-size: 0.8em;
    font-weight: 700;
}

.info-panel .panel-footer-xs {
	border: none;
    min-width: 100%;
    height: 60px;
    margin: auto -12px;
    padding-top: 12px;
    font-size: 0.8em;
    font-weight: 700;
}

.whitespace-v {
	margin: 0px 32px;
}

.whitespace-h {
	margin: 32px 0px;
}

.totop {
    margin-left: 0px;
    padding: 0px;
    display: none;
	cursor: pointer;
}

.side {
	position: fixed;
    top: 85%;
    right: 10px;
}

.top {
	position: fixed;
    top: 0%;
    right: 10px;
}

 @media only screen and (max-width : 991px) {
		.rounded-up-left {
			-webkit-border-top-left-radius: 15px;
			-webkit-border-top-right-radius: 15px;
			-moz-border-radius-topleft: 15px;
			-moz-border-radius-topright: 15px;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
		}
		
		.rounded-up-right {
			-webkit-border-top-left-radius: 15px;
			-webkit-border-top-right-radius: 15px;
			-moz-border-radius-topleft: 15px;
			-moz-border-radius-topright: 15px;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
		}
		
		.rounded-down-left {
			-webkit-border-bottom-right-radius: 15px;
			-webkit-border-bottom-left-radius: 15px;
			-moz-border-radius-bottomright: 15px;
			-moz-border-radius-bottomleft: 15px;
			border-bottom-right-radius: 15px;
			border-bottom-left-radius: 15px;
		}
		
		.rounded-down-right {
			-webkit-border-bottom-right-radius: 15px;
			-webkit-border-bottom-left-radius: 15px;
			-moz-border-radius-bottomright: 15px;
			-moz-border-radius-bottomleft: 15px;
			border-bottom-right-radius: 15px;
			border-bottom-left-radius: 15px;
		}

		.rounded-right {
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;
		}

		.rounded-left {
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;	
		}

    }