body {
	margin: 0 px;
	padding: 0 px;
}

.menu {
	margin: 0 px;
	padding: 0 px;
	padding-right: 10 px;
	min-height: auto;
	height: 100 %;
}

.navbar {
	min-width: auto;
}

.fill_h {
  min-width: 100%;
}

.dropdown {
	margin: auto;
	width: 80 %;
	float: left;
}

.dropdown-menu {
	min-width: auto;
	width: 100 %;
}

.rounded-up-left {
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
}

.rounded-up-right {
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
}

.rounded-down-left {
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
}

.rounded-down-right {
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
}

.rounded-up {
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.rounded-down {
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.rounded-left {
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.rounded-right {
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.rounded {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.panel-group .panel-accent {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: 0px -15px;
}

.panel-group .panel-accent .panel-heading{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.panel-group .panel-group .panel-body {
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.panel-group .panel-accent .panel-footer {
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	font-size: 1.2em;
}

#accent-photo {
	min-width: auto;
	min-height: 200px;
   	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#accent-text {
	text-transform: uppercase;
	padding: 24px 12px 24px 24px;
	min-height: 200px;
	height: 100%;
	min-width: auto;
	font-size: 1.5em;
}

#accent-buttons {
	padding: 48px 0px;
	min-width: auto;
	min-height: 100%;
	font-size: 2em;
}

#accent-row {
	padding: 12px 24px;
	min-width: auto;
	min-height: 100%;
	font-size: 1.5em;
	text-align: center;
	font-weight: 700;
}

#news-row {
	padding: 12px 24px;
	min-width: auto;
	min-height: 100%;
	font-size: 1.5em;
	text-align: center;
}

.capital {
	text-transform: uppercase;
}

.info-panel {
	font-size: 1.4em;
	height: 160px;
	padding: 12px 12px;
	overflow: hidden;
}

.info-panel .panel-text {
	display: inline-block;
	padding-top: 10px;
}

.info-panel .panel-footer {
	border: none;
    display:none;
    min-width: 100%;
    height: 60px;
    margin: auto;
    font-size: 0.8em;
    font-weight: 700;
}

.info-panel .panel-footer-xs {
	border: none;
    min-width: 100%;
    height: 60px;
    margin: auto -12px;
    padding-top: 12px;
    font-size: 0.8em;
    font-weight: 700;
}

.tall {
	height: 240px;
}

.adaptive {
	height: auto;
	overflow: auto;
}

@media (min-width: 992px) {
	.half-cell-md {
	  width: 25% !important;
	  margin-left:  12.5%!important;
	}
}
@media (min-width: 1200px) {
	.half-cell-lg {
	  width: 25% !important;
	  margin-left: 12.5% !important;
	}
}



.opportunity-panel {
	font-size: 1.4em;
	padding: 12px 12px;
	overflow: hidden;
}

.whitespace-v {
	margin: 0px 32px;
}

.whitespace-h {
	margin: 32px 0px;
}

.totop {
    margin-left: 0px;
    padding: 0px;
    display: none;
	cursor: pointer;
}

.side {
	position: fixed;
    top: 85%;
    right: 10px;
}

.top {
	position: fixed;
    top: 0%;
    right: 10px;
}

.contacts {
    font-weight: 400 !important;
}

.contacts a {
	font-weight: 700 !important;
}

.drivers-container {
	padding: 0px !important;
}

.drivers {
	padding: 0px !important;
}

	.drivers .id {
		padding: 0px !important;
		display: block;
		position: relative;
		font-size: 1.8em;
		text-align: middle;
		vertical-align: middle;
		min-height: 100%;
		height: 100%;
		max-height: 100px;
		min-width: auto;
		height: auto;
		max-width: 100px;
	}

	.drivers .id img {
		height: auto;
		width: 100%;
		padding: 0px !important;
		float: left;
	}

	.drivers .id .callsign {
		padding: 0.39em 0px !important;
		display: block;
		font-size: 1.2em;
		text-align: middle;
		vertical-align: middle;
		max-height: 100%;
		max-width: 100%;
	}


	.drivers .info {

	}
		.drivers .info .name {
			font-weight: 200;
			font-size: 1.6em;
		}

		.drivers .info .car {
			font-weight: 200;
			font-size: 0.8em;
		}

		.drivers .info .carcolor {
			min-height: 10px;
			min-width: 10px;
			max-height: 20px;
			max-width: 20px;
		}

	.drivers .photo {
		padding: 0px !important;
		display: block;
		position: relative;
		max-height: 100%;
		max-width: 100%;
	}

	.drivers .photo img {
		padding-right: 0px;
		margin-right: 0px;
		display: inline-block;
		position: relative;
		float: right;
		font-size: 1.8em;
		vertical-align: middle;
		min-height: 100%;
		height: 100%;
		max-height: 100px;
		min-width: auto;
		width: auto;
		max-width: 100px;
	}


 @media only screen and (max-width : 991px) {
		.rounded-up-left {
			-webkit-border-top-left-radius: 15px;
			-webkit-border-top-right-radius: 15px;
			-moz-border-radius-topleft: 15px;
			-moz-border-radius-topright: 15px;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
		}
		
		.rounded-up-right {
			-webkit-border-top-left-radius: 15px;
			-webkit-border-top-right-radius: 15px;
			-moz-border-radius-topleft: 15px;
			-moz-border-radius-topright: 15px;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
		}
		
		.rounded-down-left {
			-webkit-border-bottom-right-radius: 15px;
			-webkit-border-bottom-left-radius: 15px;
			-moz-border-radius-bottomright: 15px;
			-moz-border-radius-bottomleft: 15px;
			border-bottom-right-radius: 15px;
			border-bottom-left-radius: 15px;
		}
		
		.rounded-down-right {
			-webkit-border-bottom-right-radius: 15px;
			-webkit-border-bottom-left-radius: 15px;
			-moz-border-radius-bottomright: 15px;
			-moz-border-radius-bottomleft: 15px;
			border-bottom-right-radius: 15px;
			border-bottom-left-radius: 15px;
		}

		.rounded-right {
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;
		}

		.rounded-left {
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;	
		}

				.drivers .info .name {
					font-weight: 200;
					font-size: 0.8em;
				}

				.drivers .info .car {
					font-weight: 200;
					font-size: 0.6em;
				}
		.drivers .id .callsign {
			padding: 0.6em 0px !important;
			display: block;
			font-size: 1em;
			min-height: 100%;
			min-width: auto;
		}

    }