</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>

<div class="col-sm-2">

	<nav class="sidebar-nav" role="navigation" style="padding-top: 5px; padding-left: 10px; padding-right: 10px;">
		<ul class="nav nav-tabs nav-stacked">
		<li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
		<li><a href="/about">About us</a></li>
		<li><a href="/contact">Contact us</a></li>
		</ul>
	</nav>
	
</div>

<div class="clearfix visible-xs"></div>


<div class="col-sm-9">

	<div class="btn-group row container-fluid" role="group" aria-label="Місто" style="padding-top: 5px;">
	<div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
    Мова <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Українська</a></li>
      <li><a href="#">Русский</a></li>
    </ul>
	</div>
	  <button type="button" class="btn btn-default">Тернопіль</button>
	  <button type="button" class="btn btn-default">Луцьк</button>
	</div>
	<div class="clearfix visible-xs"></div>

	
</div>
</body>
</html>